* {
	margin: 0;
	padding: 0;
}

.animated-banner {
	position: relative;
	/* z-index: 0;
				display: flex;
				-ms-flex-pack: center;
				justify-content: center; */
	margin: 0 auto;
	/* min-width: 1000px; */
	height: 155px;
	width: 100vw;
	overflow: hidden;
	/* max-height: 240px; */
	/* background-color: aquamarine; */
}

.layer {
	position: absolute;
	height: 100%;
	width: 100%;
	/* display: -ms-flexbox; */
	display: flex;
	/* -ms-flex-align: center; */
	align-items: center;
	/* -ms-flex-pack: center; */
	justify-content: center;
}
